<footer>
    <section class="main-foot-bar">
<picture class="logo-footer">
        <a href="/"><img src="/images/copa.png" alt="logo" width="100%" height="100%"></a>
    </picture>   
    <article class="columnas">
        <ul class="link-footer">
            <li><a class="link-footer-principal" href="/catalogo">Vinos</a></li>
            <li><a href="/catalogo">Colecciones</a></li>
            <li><a href="/catalogo">Bodegas</a></li>
        </ul>
        <ul class="link-footer">
            <li><a class="link-footer-principal" href="/nosotros">Nosotros</a></li>
            <li><a href="/nosotros">Sobre nosotros</a></li>
            <li><a href="/nosotros">Nuestra mision</a></li>
        </ul>
        <ul class="link-footer">
            <li><a class="link-footer-principal" href="https://www.rutiniwines.com/contacto/"">Contacto</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Buenos_Aires" target="_blank">Oficinas Buenos Aires</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Mendoza_(Argentina)" target="_blank">Oficinas Mendoza</a></li>
        </ul>
    </article>
    <picture class="logo-footer">
        <a href="/"><img src="/images/nombre.png" alt="logo" width="100%" height="100%"></a>
    </picture>
</section>
<nav class="icon-footer">
    <a class="icon-color" href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a class="icon-color" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="icon-color" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="icon-color" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
</nav>
    <p class="copyright">© EWINE 2021- Todos los derechos reservados | Beber con moderacion. Prohibida su venta a menores de 18 años.</p>
</footer>