<%- include("./includes/head") %>
<body>
    <%- include("./includes/header") %>
    <picture>
        <img class="banner" src="/images/BANNER-VINO.jpg" alt="banner">
    </picture>  
    <main>
        <section class="nosotros-foto-texto-principal">
            <article class="text-titulo-bodega">
                <p class="text-titulo">EWINE | Desde 2021</p>
                <p class="text-bodega">Al pie de La Cordillera de los Andes, en el corazón del Alto Valle de Uco, creamos y diseñamos vinos que despliegan todo el potencial de un suelo privilegiado. Inmersos en la naturaleza de este entorno único, procuramos el cuidado y evolución del mismo terroir que nos vio nacer hace más de 100 años.</p>
                <div class="esquinero-top-1"></div>
                <div class="esquinero-top-2"></div> 
            </article>
            <picture>
              <img class="amigos-vino" src="/images/amigos-vino.webp"
              alt="amigos-vino-rutini">         
            </picture>
                    
      </section>
      <section class="nosotros-foto-texto-secundario">
      
    <article class="text-titulo-nosotros">
      <h3>Nuestra Mision</h3>
      <p>Es garantizar la continuidad del negocio familiar manteniendo los principios y valores de la familia, respetando la tradición y aplicando el conocimiento, la innovación y la tecnología para ofrecer vinos de calidad a nuestros clientes.</p>
      <div class="esquinero-bot-1"></div>
      <div class="esquinero-bot-2"></div> 
    </article>
</section>
    </main>
    <%- include("./includes/footer") %>
</body>
</html>