<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href ="/css/header.css">
    <link rel = "stylesheet" href ="/css/registro.css">
    <link rel = "stylesheet" href ="/css/footer.css">
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ewine</title>
</head>
<body>
    <header class="main-header">
        <section class="main-header-top-bar">
            <picture class="logo">
            <img  src="/images/logo.png" alt="icono">
                </picture>
    
                <nav class="main-navbar">
                    <a href="http://localhost:3040/catalogo.html">Vinos</a>
                    <a class="borde" href="/nosotros">Nosotros</a>
                    <a href="/contacto">Contacto</a>
                </nav>
    
                    <form action="#" class="formsearch">
                        <input type="search" name="barra" placeholder="Buscar..."><button class="iconolupa"><i class="fas fa-search"></i></button>
                    </form>
            
                    <nav class="icon-carrito-usuario">
                        <a href="" ><i class="fas fa-shopping-cart"></i></a>
                        <a href="" ><i class="fas fa-user"></i></a>
                    </nav>
    
                    <div class="burger-menu">
                        <a class="tresbarras" href="/menu"><i class="fas fa-bars"></i></a>
                    </div> 
                </section>           
    </header>
    <main class="main-register">
        <form class="register-login">
            <h2>Identificarse</h2>
            <fieldset class="fs-e-mail">
                <label for="e-mail">Correo Electronico</label>
                <input type="email" id="e-mail" placeholder="Direccion de Email">
            </fieldset>
            <fieldset class="fs-pass">
                <label for="pass">Contraseña</label>
                <input type="password" id="pass" placeholder="**********">
            </fieldset>

            <fieldset class="fs-button">
                <button>Identificarse</button>
               <section class="fs-conectar">
                    <a>Conectar con | </a>
                    <img href="google.com" class="img-google" src="/images/google-login.png" alt="icono-google">
                    <img href="facebook.com" class="img-fb" src="/images/logo-fb.jpg" alt="icono-fb">
                </section>    
            </fieldset>
            
            <fieldset class="fs-kl">
                <input type="checkbox" name="kl" id="kl">
                <label for="kl">Recordarme</label>
            </fieldset> 
        </form>

        <form class="register-signin">
            <h2>Registro</h2>
            <fieldset class="fs-nombre">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Ingrese su nombre completo">
            </fieldset>
            <fieldset class="fs-apellido">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" placeholder="Ingrese su apellido">
            </fieldset>
            <fieldset class="fs-e-mail-reg">
                <label for="e-mail-reg">Correo Electronico</label>
                <input type="email" id="e-mail-reg" placeholder="Direccion de Email">
            </fieldset>
            <fieldset class="fs-pass-reg">
                <label for="pass-reg">Contraseña</label>
                <input type="password" id="pass-reg" placeholder="***********">
            </fieldset>
            <fieldset class="fs-pass-reg2">
                <label for="pass-reg2">Confirmar Contraseña</label>
                <input type="password" id="pass-reg2" placeholder="Confirmar">
            </fieldset>
            <fieldset class="fs-button-si">
                <button>Registrarse</button>
                <section class="fs-conectar">
                    <a>Registrarme con</a>
                    <img href="google.com" class="img-google" src="/images/logo-google.png" alt="icono-google">
                    <img href="facebook.com" class="img-fb" src="/images/logo-fb.jpg" alt="icono-fb">
                </section>    
            </fieldset>
            
            
        </form>

    </main>
    <footer>
        <section class="main-foot-bar">
    <picture class="logo-footer">
            <img src="/images/copa.png" alt="logo" width="100%" height="100%">
        </picture>   
        <article class="columnas">
            <ul class="link-footer">
                <li><a class="link-footer-principal" href="/catalogo">Vinos</a></li>
                <li><a href="/nosotros">Colecciones</a></li>
                <li><a href="/contacto">Bodegas</a></li>
            </ul>
            <ul class="link-footer">
                <li><a class="link-footer-principal" href="/vinos">Nosotros</a></li>
                <li><a href="/nosotros">Sobre nosotros</a></li>
                <li><a href="/contacto">Nuestra mision</a></li>
            </ul>
            <ul class="link-footer">
                <li><a class="link-footer-principal" href="/vinos">Contacto</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Buenos_Aires" target="_blank">Oficinas Buenos Aires</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Mendoza_(Argentina)" target="_blank">Oficinas Mendoza</a></li>
            </ul>
        </article>
        <picture class="logo-footer">
            <img src="/images/nombre.png" alt="logo" width="100%" height="100%">
        </picture>
    </section>
    <nav class="icon-footer">
        <a class="icon-color" href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a class="icon-color" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="icon-color" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a class="icon-color" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    </nav>
        <p class="copyright">© EWINE 2021- Todos los derechos reservados | Beber con moderacion. Prohibida su venta a menores de 18 años.</p>
    </footer>
</body>
</html>