@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background:  #ebebeb;
}

main {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.secciones-carrito {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f4f4;
}

.detalle-carrito {
    padding: 0 10px;
    background-color: white;
    width: 100%;
    min-height: 30vh;
    margin: 2.5% 2.5%;
    flex-direction: column;
    border: 1px solid #AD9863;
    border-radius: 5px;
}

.detalle-tarjeta {
    width: 100%;
    background-color: white;
    margin: 2.5% 2.5%;
    border: solid 1px #AD9863;
    border-radius: 5px;
}

fieldset {
    border: 0px;
    display: flex;
    text-align: left;
    padding: 0;
    margin: 2% 0
}
 
input {
    border: 0px;
}

legend {
    margin-bottom: 0.5%;
    font-size: 15.5px;
    font-weight: normal;
}

h3 {
    font-size: 21px;
    font-weight: normal;
    text-align: left;
    margin: 2% 0 2% 2%;
}

.formularios-todos {
    margin-left: 5%;
}

.barra-formulario {
    width: 80%;
    height: 20px;
    border-radius: 3px;
    background-color: #f4f4f4;
    border: 0.5px solid #A9AAAA;
}

.barra-formulario-fecha {
    width: 15%;
    height: 20px;
    border-radius: 3px;    
    background-color: #f4f4f4;
    border: 0.5px solid #A9AAAA;
}

.barra-formulario-cds {
    width: 10%;
    height: 20px;
    border-radius: 3px;    
    background-color: #f4f4f4;
    border: 0.1px  solid #A9AAAA;
}

.boton-formulario {
    background-color: #383D41;
    color: #A9AAAA;
    border: none;
    transition: all 0.2s;
    height: 5vh;
    width: 35%;
    border-radius: 5px;    
    border: 1px solid #AD9863;
}

.boton-formulario:hover {
    box-shadow:0px 0px 10px #AD9863;
}

.boton-formulario:focus {
    background-color: #AD9863;
    color: #383D41;
    font-weight: bold;
    box-shadow: none;
}

.medios-pago {
    display: flex;
    justify-content: end;
    margin: 0 3% 2% 0;
}

h4 {
    align-self: center;
    color: #383D41;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    padding-right: 5px;
    border-right: 1px solid #383D41;
}

.icon-pay {
    font-size: 25px;
    margin: 0 1%;
    color: #AD9863;
}

.resumen-compra {
    width: 100%;
    background-color: white;
    margin: 2.5% 2.5%;
    border: #AD9863 1px solid;
    border-radius: 5px;
}

.resumen-carrito {
    margin: 3%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #A9AAAA;
    border-radius: 5px;
}

h5 {
    padding: 5px 0 10px 5px;
    font-weight: normal;
    font-size: 21px;
    text-align: left;
    width: 100%;
}

.subtotales-1 {
    text-align: left;
    padding-left: 10px;
}

.subtotales-2 {
    text-align: right;
    padding-right: 10px;
}

.resumen-carrito p {
    padding: 10px 0;
}

.boton-compra {
    font-size: 25px;
    background-color: #383D41;
    color: #A9AAAA;
    border: 1px solid #AD9863;
    transition: all 0.2s;
    height: 5vh;
    margin: auto;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 2%;
}

.boton-compra:hover {
    box-shadow:0px 0px 10px #AD9863;
}

.boton-compra:focus {
    background-color: #AD9863;
    color: #383D41;
    font-weight: bold;
    box-shadow: none;
}


.titulares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5vh;
    background-color: #383D41;
    border-radius: 45px;
    font-size: 3vh;
    font-family: Roboto;
    color: #AD9863;
    margin: 30px 0 20px 5%;
}

.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 2.5%
}

.vinos{
    display: flex;
    min-width:262.9px;
    max-width:263px;
    max-height: 397.5px;
    min-height: 397.47px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 2%;
    background: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    box-shadow: none;
    border-radius: 10px;
    transition: all 0.2s;
}

.vinos:hover{
    box-shadow:0px 0px 10px rgb(100, 100, 100);
}

.vinos img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 300px;
    min-height: 299.99px;
    max-width: 263px;
    min-width: 262.99px;
}

.imagen-producto {
    max-width: 40%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    font-style: italic;
    font-family: "Roboto";
    font-size: 12px;
}

.boton-agregar {width: 20vh;
    margin-bottom: 3vh;
    border-radius: 6px;
    border: none;
    background-color: #383D41;
    color: #ebebeb ;
    height: 1.5em;
    transition: all 0.2s;
}

.boton-agregar:hover {
    box-shadow:0px 0px 10px #AD9863;
}

.boton-agregar:focus {
    background-color: #AD9863;
    color: #383D41;
    font-weight: bold;
    box-shadow: none;
}

main input:hover {
    box-shadow:0px 0px 10px #AD9863;
}

.producto-agregado-carrito {
    margin-bottom: 3%;
}

.vinos-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #383D41;    
    transition: all 0.2s;
    padding: 0px 5px;
    margin: 1%;
}

.vinos-carrito:hover {
    box-shadow:0px 0px 5px #AD9863;
}

.imagen-profile-carrito {
    max-width: 60px;
}

.titulo-producto-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}


.info-carrito-nombre {
    text-align: left;
    width: 50px;
    font-style: italic;
    transition: all 0.2s;
}

.info-carrito-precio {
    text-align: right;
}

.info-carrito-nombre:hover {
    text-decoration: underline;
}



@media (min-width: 768px) {

    body {
        font-family: "Roboto";
        background:  #440217;
    }

    .secciones-carrito {
        justify-content: space-between;
    }
    
    .detalle-carrito {
        width: 45%;
        margin-left: 5%;
    }
    
    .detalle-tarjeta {
        width: 40%;        
        margin-right: 5%;
    }
    
    .resumen-compra {
        width: 60%;
        margin: auto
    }
}

@media (min-width: 1200px) {
    
}