@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    
}

.main-content{
    display: flex;
    width: 85vw;
}

.menuVertical{
    display: none;
    width: 16%;
    min-height: 150vh;
    background-color: white;
    flex-direction: column;
    text-align: left;
    padding-top: 55px;
    padding-left: 15px;
}

.menuVertical article{
    margin-bottom: 20%;
}

.menuVertical h3{
    font-size: 1.2rem;
    font-family:"Roboto";
    font-weight: 500;
    margin-bottom: 10px;
}

.menuVertical nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
}

.menuVertical nav a{
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.catalogo{
    background-color: #ebebeb;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1px 30px;
    padding: 25px;
    flex-wrap: wrap;
    min-height: 150vh;
    width: 30vh;
}

.vinos{
    justify-content:center;
    display: flex;
    flex-wrap: nowrap;
    margin: 3vh 0;
    background: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    box-shadow: none;
    border-radius: 10px;
    transition: all 0.2s;
}

.vinos:hover{
    box-shadow:0px 0px 10px rgb(100, 100, 100);
}

.vinos picture img{
    border-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    font-style: italic;
    font-family: "Roboto";
    font-size: 12px;
}

.info button{
    width: 20vh;
    margin-bottom: 3vh;
    border-radius: 6px;
    border: none;
    background-color: #383D41;
    color: gainsboro ;
    height: 1.5em;
    transition: all 0.2s;
}

.info button:hover{
    box-shadow:0px 0px 10px #AD9863;
}

.info button:focus {
    background-color: #AD9863;
    color: #383D41;
    font-weight: bold;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: black;
}

.aclaracion{
font-weight: 300;
}

.precio{
    font-weight: bold;
}



.menuVertical{
    width: 40%;
}



.catalogo{
    width: 100%;
    gap: 5px;
}

.main-content{
    width: 100%;
}

@media (min-width: 768px) {
    .menuVertical {
        display: flex;
        max-width:200px;
     
    }
 
    body {
        margin: 0 7.5vw;
    }
 
    .catalogo {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

