@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background:  #ebebeb;;
}

main {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.foto-texto-principal {
    display: none;
}

.titulares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5vh;
    background-color: #383D41;
    border-radius: 45px;
    font-size: 3vh;
    font-family: Roboto;
    color: #AD9863;
    margin: 30px 0 20px 5%;
}

.cajadecajas {
    margin-left: 5%;
    margin-right: 5%;
}

.vinos {
    margin: 3vh 0;
    background: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    box-shadow: none;
    border-radius: 10px;
    transition: all 0.2s;
}
.vinos:hover{
    box-shadow:0px 0px 10px rgb(100, 100, 100);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    font-style: italic;
    font-family: "Roboto";
    font-size: 12px;
}

.info button{
    width: 20vh;
    margin-bottom: 3vh;
    border-radius: 6px;
    border: none;
    background-color: #383D41;
    color: gainsboro ;
    height: 1.5em;
    transition: all 0.2s;
}

.info button:hover {
    box-shadow:0px 0px 10px #AD9863;
}


.info button:focus {
    background-color: #AD9863;
    color: #383D41;
    font-weight: bold;
    box-shadow: none;
}


a {
    text-decoration: none;
    color: black;
}

.aclaracion{
    font-weight: 300;
}
.precio {
    font-size: 18px;
    font-weight: bold;
}

.descripcion {
    color: #666;
    font-size: 16px;
    display: none;
}



.bodegas-desktop {
    display: none;
}

@media (min-width: 768px) {  /*TABLET*/
  
    body {        
        background-color: #440217
    }

    .foto-texto-principal {
        background-color: #FFFFFF;
        margin: auto;
        margin: 5vh 12.5vw;
        max-height: 100%;
        max-width: 60vw;
        display: flex;
        flex-wrap: wrap;
        border-radius: 50px;
    }
    .bodega {
        display: flex;
        background-color: #ffffff;
        border-radius: 50px;
    }

    .bodegas-desktop {
        display: none;
    }

    .bodegas-tablet {
        max-width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    
    
    .text-inicio {
        list-style: none;
        justify-content: center;
    }
    
    .text-titulo {
        font-size: 3.8vh;
        text-align: center;
        min-width: 20vh;
        margin: 10px 0;
    }
    
    .text-bodega {
        padding: 0 8% 18px;
        font-size: 2vh;
        text-align: justify;
        justify-content: center;
    }

    .formsearch {
        justify-content: center;
        align-self: center;
        max-width: 226.5px;        
    }

    .copy-header {
        margin-right: 0;
        width: 250px;
        max-width: none;
        text-align: right;
        font-size: 14px;
    }

    .hamburger-button {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .descripcion {
        display: block;
    }

    .caja-producto h3:hover {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .caja-producto {
        transition: all 0.5s ease;
    }

    .caja-producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .cajadecajas {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .vinos {
        width: 46%;
    }

}

@media  (min-width: 1200px) {
    .foto-texto-principal {
        flex-wrap: nowrap;
        margin: auto;
        margin-top: 25px;
        max-width: 70%;
    }

    .bodega {
        display: flex;
        background-color: #ffffff;
        border-radius: 50px;
    
    }
    
    .bodegas-tablet {
        display: none;
    }

    .bodegas-desktop {        
        max-width: 60vw;
        display: flex;
        width: 90%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    .text-titulo-bodega {
        width: 70%;
    }
   
    .text-inicio {
        list-style: none;
        justify-content: center;
    }
    
    .text-titulo {
        font-size: 3.8vh;
        text-align: center;
        min-width: 20vh;
        margin: 10px 0;
    }
    
    .text-bodega {
        padding: 0 8% 18px 0;
        font-size: 2vh;
        text-align: justify;
        justify-content: center;
    }

    .cajadecajas {
        flex-wrap: nowrap;
    }

    .vinos {
        max-width: 25%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

}

