@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background:  #ebebeb;;
}

main {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nosotros-foto-texto-principal {
    background-color: #FFFFFF;
    margin: 10% auto;
    max-height: 100%;
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
}


.text-titulo-bodega {
    position: relative;
    z-index: 0;
}

.esquinero-top-1 {
    position: absolute;
    width: 65px;
    height: 65px;
    display: block;
    z-index: 1;
    border-top: 2px solid #AD9863;
    border-left: 2px solid #AD9863;
    top: 0px;
    left: 0px;
}

.esquinero-top-2 {
    position: absolute;
    width: 65px;
    height: 65px;
    display: block;
    z-index: 1;
    border-top: 2px solid #AD9863;
    border-right: 2px solid #AD9863;
    top: 0px;
    right: 0px;
}

.text-titulo {
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    padding: 15px;
    margin: 2% 5%;
    border-bottom: 2px solid #440217;
}

.text-bodega {
    text-align: justify;
    margin: 0 5% 5%;
}

.nosotros-valle {
    display: none;
}

.nosotros-foto-texto-secundario {
    background-color: #FFFFFF;
    margin: 10% auto;
    max-height: 100%;
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.text-titulo-nosotros h3{
    font-size: 1.5rem;
    display: flex;
    font-style: normal;
    justify-content: center;
}


.esquinero-bot-1 {
    position: absolute;
    width: 45px;
    height: 45px;
    display: block;
    z-index: 1;
    border-top: 2px solid #AD9863;
    border-left: 2px solid #AD9863;
    top: 0px;
    left: 0px;
}

.esquinero-bot-2 {
    position: absolute;
    width: 45px;
    height: 45px;
    display: block;
    z-index: 1;
    border-bottom: 2px solid #AD9863;
    border-right: 2px solid #AD9863;
    bottom: 0px;
    right: 0px;
}

.text-titulo-nosotros h3, p{
    text-align: justify;
    margin: auto;
}

.text-titulo-nosotros h3 {
    padding-top: 15px;
    font-style: normal;
}

.text-titulo-nosotros p{
    padding: 10px 5% 3% 5%;
}

@media (min-width: 768px) {  /*TABLET*/ 
    .nosotros-foto-texto-principal {
        max-width: 75%;
}
    .text-titulo {
    font-size: 2.5rem;
}

    .text-bodega {
    font-size: 1.5rem;
}

.nosotros-foto-texto-secundario {
    max-width: 75%;
}

.text-titulo-nosotros{
    justify-content: center;

}

.text-titulo-nosotros h3{
    font-size: 2.5rem;
}

.text-titulo-nosotros p{
    text-align: justify;
    font-size: 1.5rem; 
}


.nosotros-valle {
    display: flex;
}



}