@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: bold;
}

.main-register {
    background-color: #F4F4F4;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
.main-register form{
    width: 80%; 
    margin: 10%;
    border: solid #AD9863 1px;
    border-radius: 4px;
    padding: 2vh;
    text-align: start;
}

.register-login {
    max-width: 400px;
    background-color: white;
    margin: 5%;
}

.register-signin {
   
    background-color: white;
    margin: 1vh;
}

main button {
    background-color: #414141;
    padding: 10px 5px 10px 5px;
    border: solid #AD9863 1px;
    border-radius: 4px;
    color: white;
    letter-spacing: 1px;
}

main input {
    background-color: #F4F4F4;
    box-shadow: 0px 0px 1px 1px #A9AAAA;
    border: 0;
    margin-top: 1px;
    padding: 5px;
    width: 95%;
}

main button:hover {
    box-shadow:0px 0px 10px #AD9863;
}

main button:focus {
    background-color: #AD9863;
    color: #383D41;
    font-weight: bold;
    box-shadow: none;
}

main input:hover {
    box-shadow:0px 0px 10px #AD9863;
}

.img-google{
    max-width: 16px;
    max-height: 16px;
}
.img-fb{
    max-width: 16px;
    max-height: 16px;
}
    
fieldset {
    border: 0;
    margin-top: 20px;
    font-size: 14px;
}

fieldset label{
    display: none;
}

.fs-button {
    margin-top: 5px;
} 

.fs-kl {
    margin-top: 1px;
    padding: 0px 0px 0px 10px;
}

.fs-kl label {
    display: contents;
    font-size: smaller;
}

.fs-kl input {
    width:fit-content;
    box-shadow: none;
    margin-right: 1%;
    align-self: center;
    justify-content: flex-start;
    padding-top: 5px;
}

.fs-conectar {
    display: flex;
    justify-content: flex-end;
    align-self: stretch;
    margin-top: 10px;

}

.fs-conectar a{
    margin-right: 5px;
    font-size: smaller;
    font-style: normal;
    text-align: justify;
}

.botones-login {
    display: flex;
    justify-content:space-between;
}

.boton-imagen {
    border: 0;
    margin: 20px 5px;
    margin-left: 4%;
    width: 95%;
    display: flex;
}

p.errores {
    color: red;
    margin-top: 5px;
    font-size: 15px;
}

input.errores {
    box-shadow: 0px 0px 1px 1px #f04747bb;
}

input.errores:hover {
    box-shadow:0px 0px 10px #f04747bb;
}

.display-errores {
    display: none;
}

@media (min-width: 768px) {  /*TABLET*/
    body {        
        background-color: #440217
    }

.main-register {
    background-color: #F4F4F4;
    width: 85vw;
    min-height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.main-register form{
    width: 40%;
    max-width: 350px;
    margin: 5%;
    border: solid #AD9863 1px;
    border-radius: 4px;
    padding: 2%;
    flex-direction: column;
    
}

.register-login {
    min-width: 400px;
}

main input {
    border: 0;
    margin-top: 1px;
    padding: 5px;
    width: 95%;
}

fieldset label{
    display: block;
}



}