<header class="main-header">
    <section class="main-header-top-bar">
        <picture class="logo">
            <a class="" href="/"><img  src="/images/logo.png" alt="icono"></a>
            </picture>

            <nav class="main-navbar">
                <a href="/catalogo">Vinos</a>
                <a class="borde" href="/nosotros">Nosotros</a>
                <a href="https://www.rutiniwines.com/contacto/">Contacto</a>
            </nav>

                <form action="#" class="formsearch">
                    <input type="search" name="barra" placeholder="Buscar..."><button class="iconolupa"><i class="fas fa-search"></i></button>
                </form>
        
                <nav class="icon-carrito-usuario">
                    <a href="/carrito" ><i class="fas fa-shopping-cart"></i></a>
                    <a href="/registro" ><i class="fas fa-user"></i></a>
                </nav>

                <div class="burger-menu">
                    <a class="tresbarras" href="/menu"><i class="fas fa-bars"></i></a>
                </div> 
            </section>           
</header>