<%- include("./includes/head") %>
<body>
<%- include("./includes/header") %>


    <main class="main-content"> <!--Codigo solo de la pagina asignada-->
<section class="menuVertical">

    <article>
<h3>TIPOS DE VINO</h3>
<nav>
<a href="/Blanco">Blanco</a>
<a href="/Tinto">Tinto</a>
<a href="/Espumantes">Espumantes</a>
</nav>
    </article>
    <article>
<h3>BODEGAS</h3>
<nav>
<a href="/Rutini">Rutini</a>
<a href="/Labiano">Labiano</a>
<a href="/Luigi bosca">Luigi bosca</a>
<a href="/Terrazas">Terrazas</a>
</nav>
</article>
<article>
<h3>VARIETAL</h3>
<nav>
<a href="/Merlot">Merlot</a>
<a href="/Malbec">Malbec</a>
<a href="/Chardonnay">Chardonnay</a>
<a href="/Cabernet sauvignon">Cabernet sauvignon</a>
</nav>
</article>
<article>
<h3>AÑO COSECHA</h3>
<nav>
<a href="/2019">2019</a>
<a href="/2018">2018</a>
<a href="/2017">2017</a>
<a href="/2016">2016</a>
</nav>
</article>
</section>
</section>

<section class="catalogo">
<article class="vinos">
    <a href="/vino"><picture>
    <img width="90%" height="70%" src="/images/Rutini-Gewurztraminer.webp" alt="blanco">
</picture>
<div class="info">
<p>Gewurztraminer</p>
<p class="aclaracion">Caja x6 botellas</p>
<p class="precio">$8.000</p>
<button>Agregar</button>
</div></a>
</article>
<article class="vinos">
    <a href="/vino"><picture>
        <img width="90%" height="70%" src="/images/Rutini-Malbec.webp" alt="blanco">
    </picture>
    <div class="info">
    <p>Gewurztraminer</p>
    <p class="aclaracion">Caja x6 botellas</p>
    <p class="precio">$8.000</p>
    <button>Agregar</button>
    </div></a>
</article>
<article class="vinos">
    <a href="/vino"><picture>
        <img width="90%" height="70%" src="/images/Rutini-Rose-de-Malbec.webp" alt="blanco">
    </picture>
    <div class="info">
    <p>Gewurztraminer</p>
    <p class="aclaracion">Caja x6 botellas</p>
    <p class="precio">$8.000</p>
    <button>Agregar</button>
    </div></a>
</article>
<article class="vinos">
    <a href="/vino"><picture>
        <img width="90%" height="70%" src="/images/Single-Vineyard-Gualtallary-Malbec.webp" alt="blanco">
    </picture>
    <div class="info">
    <p>Gewurztraminer</p>
    <p class="aclaracion">Caja x6 botellas</p>
    <p class="precio">$8.000</p>
    <button>Agregar</button>
    </div></a>
</article>
<article class="vinos">
    <a href="/vino"><picture>
        <img width="90%" height="70%" src="/images/Trumpeter-Cabernet-Sauvignon.webp" alt="blanco">
    </picture>
    <div class="info">
    <p>Gewurztraminer</p>
    <p class="aclaracion">Caja x6 botellas</p>
    <p class="precio">$8.000</p>
    <button>Agregar</button>
    </div></a>
    </article>
    <article class="vinos">
        <a href="/vino"><picture>
            <img width="90%" height="70%" src="/images/Cajon-Madera-Encuentro-Chardonnay-Malbec-Cabernet-Sauvignon-x3.webp" alt="blanco">
        </picture>
        <div class="info">
        <p>Gewurztraminer</p>
        <p class="aclaracion">Caja x6 botellas</p>
        <p class="precio">$8.000</p>
        <button>Agregar</button>
        </div></a>
    </article>
    <article class="vinos">
        <a href="/vino"><picture>
            <img width="90%" height="70%" src="/images/Rutini-Rose-de-Malbec.webp" alt="blanco">
        </picture>
        <div class="info">
        <p>Gewurztraminer</p>
        <p class="aclaracion">Caja x6 botellas</p>
        <p class="precio">$8.000</p>
        <button>Agregar</button>
        </div></a>
    </article>
    <article class="vinos">
        <a href="/vino"><picture>
            <img width="90%" height="70%" src="/images/Single-Vineyard-Gualtallary-Malbec.webp" alt="blanco">
        </picture>
        <div class="info">
        <p>Gewurztraminer</p>
        <p class="aclaracion">Caja x6 botellas</p>
        <p class="precio">$8.000</p>
        <button>Agregar</button>
        </div></a>
    </article>
    <article class="vinos">
        <a href="/vino"><picture>
            <img width="90%" height="70%" src="/images/Rutini-Gewurztraminer.webp" alt="blanco">
        </picture>
        <div class="info">
        <p>Gewurztraminer</p>
        <p class="aclaracion">Caja x6 botellas</p>
        <p class="precio">$8.000</p>
        <button>Agregar</button>
        </div></a>
        </article>
        <article class="vinos">
            <a href="/vino"><picture>
                <img width="90%" height="70%" src="/images/Rutini-Malbec.webp" alt="blanco">
            </picture>
            <div class="info">
            <p>Gewurztraminer</p>
            <p class="aclaracion">Caja x6 botellas</p>
            <p class="precio">$8.000</p>
            <button>Agregar</button>
            </div></a>
        </article>
        <article class="vinos">
            <a href="/vino"><picture>
                <img width="90%" height="70%" src="/images/Rutini-Rose-de-Malbec.webp" alt="blanco">
            </picture>
            <div class="info">
            <p>Gewurztraminer</p>
            <p class="aclaracion">Caja x6 botellas</p>
            <p class="precio">$8.000</p>
            <button>Agregar</button>
            </div></a>
        </article>
        <article class="vinos">
            <a href="/vino"><picture>
                <img width="90%" height="70%" src="/images/Single-Vineyard-Gualtallary-Malbec.webp" alt="blanco">
            </picture>
            <div class="info">
            <p>Gewurztraminer</p>
            <p class="aclaracion">Caja x6 botellas</p>
            <p class="precio">$8.000</p>
            <button>Agregar</button>
            </div></a>
        </article>
</section>

    </main>
    <%- include("./includes/footer") %>
</body>
</html>