<%- include("./includes/head") %>
<body>

    <%- include("./includes/header") %>   
    <picture>
        <img class="banner" src="/images/BANNER-VINO.jpg" alt="banner">
    </picture>   
    <main>
        <section class="foto-texto-principal">
              <picture class="bodega">
                <img class="bodegas-tablet" src="/images/Bodega_Montagnac.jpg"
                alt="Bodega-rutini-tablet">
                <img class="bodegas-desktop" src="/images/bodega.jpg"
                alt="Bodega-rutini-desktop">              
              </picture>
              <article class="text-titulo-bodega">
                <p class="text-titulo">EWINE | Desde 2021</p>
                <p class="text-bodega">Al pie de La Cordillera de los Andes, en el corazón del Alto Valle de Uco, creamos y diseñamos vinos que despliegan todo el potencial de un suelo privilegiado. Inmersos en la naturaleza de este entorno único, procuramos el cuidado y evolución del mismo terroir que nos vio nacer hace más de 100 años.</p>
              </article>
        </section>
        <article class="titulares">Destacados</article>
        <section class="cajadecajas">
            <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Single-Vineyard-Gualtallary-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
            </article>
            <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Rutini-Rose-de-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
                </article>
                <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Rutini-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
                </article> 
                <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Single-Vineyard-Gualtallary-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
                </article>   
    </section>
    <br>
    <article class="titulares">Sección de Ofertas</article>
        <section class="cajadecajas">
            <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Single-Vineyard-Gualtallary-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
            </article>
            <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Rutini-Rose-de-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
                </article>
                <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Rutini-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
                </article> 
                <article class="vinos">
                <a href="/producto"><picture>
                        <img width="90%" height="70%" src="/images/Single-Vineyard-Gualtallary-Malbec.webp" alt="blanco">
                    </picture>
                    <div class="info">
                    <p>Gewurztraminer</p>
                    <p class="aclaracion">Caja x6 botellas</p>
                    <p class="precio">$8.000</p>
                    <button>Agregar</button>
                    </div></a>
                </article>   
    </section>
    </main>
    <%- include("./includes/footer") %>
</body>
</html>

