<%- include("./includes/head") %>
<body>
    <%- include("./includes/header") %>
    <main class="main-register">


        <form class="register-signin">
            <h2>Registro</h2>
            <fieldset class="fs-nombre">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Ingrese su nombre completo">
            </fieldset>
            <fieldset class="fs-apellido">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" placeholder="Ingrese su apellido">
            </fieldset>
            <fieldset class="fs-e-mail-reg">
                <label for="e-mail-reg">Correo Electronico</label>
                <input type="email" id="e-mail-reg" placeholder="Direccion de Email">
            </fieldset>
            <fieldset class="fs-pass-reg">
                <label for="pass-reg">Contraseña</label>
                <input type="password" id="pass-reg" placeholder="***********">
            </fieldset>
            <fieldset class="fs-pass-reg2">
                <label for="pass-reg2">Confirmar Contraseña</label>
                <input type="password" id="pass-reg2" placeholder="Confirmar">
            </fieldset>
            <label class="boton-imagen" for="file">
                <input type="file" name="file" id="file" multiple>
            </label>
            <fieldset class="fs-button">
                <button>Registrarse</button>    
            </fieldset>
            <section class="fs-conectar">
                <a>Registrarme con | </a>
                <a href="http://google.com" target="_blank"><img href="google.com" class="img-google" src="/images/logo-google.png" alt="icono-google"></a>
                <a href="http://facebook.com" target="_blank"><img href="facebook.com" class="img-fb" src="/images/logo-fb.jpg" alt="icono-fb"></a>
            </section>
            
            
        </form>

    </main>
    <%- include("./includes/footer") %>
</body>
</html>