<%- include("./includes/head") %>
<body>
    <%- include("./includes/header") %>
    <main class="main-register">
        
        <h2>Perfil</h2>

        <form action ="/users/logout" method="post" class="register-signin">
            
            <fieldset class="fs-button">
                <button type="submit" >Logout</button>    
            </fieldset>
            
        </form>

    </main>
    <%- include("./includes/footer") %>
</body>
</html>